<div class="container">
 <div class="box">
  <h1>My portfolio</h1>
   <p><a href="https://portfolio---1.herokuapp.com/top">Website</a></p>
 </div>
</div>
<canvas class="background"></canvas>
 <h1>My page</h1>
  <div class="anime_test-btn" onclick="clickTest();">
   クリック
  </div>
<div id="anime_test"><p><%= link_to "welcom", root_index_path %></p></div>
　　　

